<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>About</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>About Us</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Stories</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Press</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Help</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Payments</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Shipping</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Cancellation & Returns</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Report infringement</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Policy</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Return Policy</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Terms Of Use</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Security</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Privacy</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Sitemap</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>EPR Compliance</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>© 2007-2019 Meankart.com</p>
      </div>>
      <hr>
    </div>
  </div>
</section>
<!-- ./Footer -->
