<div class="container">
  <form [formGroup]="addressForm">
    <label class="title">{{address._id ? 'EDIT ADDRESS' : 'ADD A NEW ADDRESS'}}</label>
    <div class="form-row">
      <input type="hidden" formControlName="_id" class="form-control" placeholder="id">
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <input type="text" formControlName="name" class="form-control" placeholder="Name"
          [ngClass]="{ 'is-invalid': (!af.name.untouched || isSubmitted) && af.name.errors }">
        <div *ngIf="af.name.errors" class="invalid-feedback">
          <div *ngIf="af.name.errors.required">Name is required</div>
          <div *ngIf="af.name.errors.hasNoNumber || af.name.errors.hasNoSpecialCharacters">Name must not contain number
            or special character</div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <input type="text" maxlength="10" formControlName="mobile" class="form-control"
          placeholder="10 digit mobile number"
          [ngClass]="{ 'is-invalid': (!af.mobile.untouched || isSubmitted) && af.mobile.errors }">
        <div *ngIf="af.mobile.errors" class="invalid-feedback">
          <div *ngIf="af.mobile.errors.required">Mobile number is required</div>
          <div *ngIf="af.mobile.errors.hasOnlyDigits">Mobile number must have 10 digits</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <input type="text" maxlength="6" formControlName="pincode" class="form-control" placeholder="Pincode"
          [ngClass]="{ 'is-invalid': (!af.pincode.untouched || isSubmitted) && af.pincode.errors }">
        <div *ngIf="af.pincode.errors" class="invalid-feedback">
          <div *ngIf="af.pincode.errors.required">Pincode is required</div>
          <div *ngIf="af.pincode.errors.hasOnlyDigits">Pincode must have 6 digits</div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <input type="text" formControlName="locality" class="form-control" placeholder="Locality"
          [ngClass]="{ 'is-invalid': (!af.locality.untouched || isSubmitted) && af.locality.errors }">
        <div *ngIf="af.locality.errors" class="invalid-feedback">
          <div *ngIf="af.locality.errors.required">Locality is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
        <textarea formControlName="area" class="form-control" cols="10" rows="4" tabindex="5"
          placeholder="Area(Area and Street)"
          [ngClass]="{ 'is-invalid': (!af.area.untouched || isSubmitted) && af.area.errors }"></textarea>
        <div *ngIf="af.area.errors" class="invalid-feedback">
          <div *ngIf="af.area.errors.required">Area is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <input type="text" formControlName="city" class="form-control" placeholder="City/District/Town"
          [ngClass]="{ 'is-invalid': (!af.city.untouched || isSubmitted) && af.city.errors }">
        <div *ngIf="af.city.errors" class="invalid-feedback">
          <div *ngIf="af.city.errors.required">City is required</div>
          <div *ngIf="af.city.errors.hasNoSpecialCharacters">City must not contain special characters</div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <select formControlName="state" class="form-control"
          [ngClass]="{ 'is-invalid': (!af.state.untouched || isSubmitted) && af.state.errors }">
          <option value="Select State" disabled>Select State</option>
          <option *ngFor="let state of states" [value]="state">{{state}}</option>

        </select>
        <div *ngIf="af.state.errors" class="invalid-feedback">
          <div *ngIf="af.state.errors.required">State is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <input type="text" formControlName="landmark" class="form-control" placeholder="Landmark(Optional)">
      </div>
      <div class="form-group col-md-5">
        <input type="text" maxlength="10" formControlName="alternateMobile" class="form-control"
          placeholder="Alternate Mobile(Optional)"
          [ngClass]="{ 'is-invalid': (!af.alternateMobile.untouched || isSubmitted) && (af.alternateMobile.value !== '' && af.alternateMobile.errors) }">
        <div *ngIf="af.alternateMobile.errors" class="invalid-feedback">
          <div *ngIf="af.alternateMobile.value !== '' && af.alternateMobile.errors.hasOnlyDigits">Mobile number must
            have 10 digits
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
        <button class="btn btn-primary" (click)="submitForm(addressForm)" type="submit" data-toggle="collapse"
          attr.data-target="#{{dataTargetKey}}">Save</button>
        <button class="btn btn-link" (click)="cancelForm(addressForm)" type="button" data-toggle="collapse"
          attr.data-target="#{{dataTargetKey}}">Cancel</button>
      </div>
    </div>
  </form>
</div>
