  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 py-5 bg-primary text-white text-center">
            <div class=" ">
              <div class="card-body">
                <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:75%">
                <h2 class="py-3">{{pageTitle}}</h2>
                <p>{{pageDescription}}</p>
              </div>
            </div>
          </div>
          <div id="login" class="col-md-8 py-5 border" [style.display]="pageTitle==='Login'?'block':'none'">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Email"
                    required="required">
                </div>
                <div class="form-group col-md-12">
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                    required="required">
                </div>
              </div>
              <div class="form-row">
                <button type="button" class="btn btn-primary col-md-12">Login</button>
              </div>
            </form>
            <div class="row">
              <button type="button" class="btn btn-link col-md-12" (click)="showSignupForm()">New to Meankart? Create an
                account</button>
            </div>
          </div>
          <div id="signup" class="col-md-8 py-5 border" [style.display]="pageTitle==='Sign Up'?'block':'none'">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input name="name" class="form-control" id="name" placeholder="Name" required="required">
                </div>
                <div class="form-group col-md-12">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Email"
                    required="required">
                </div>
                <div class="form-group col-md-6">
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                    required="required">
                </div>
                <div class="form-group col-md-6">
                  <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                    placeholder="Confirm Password" required="required">
                </div>
              </div>
              <div class="form-row">
                <button type="button" class="btn btn-primary col-md-12">Sign Up</button>
              </div>
            </form>
            <div class="row">
              <button type="button" class="btn btn-link col-md-12" (click)="showLoginForm()">Existing User? Log in</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
