  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 py-5 bg-primary text-white text-center">
            <div class=" ">
              <div class="card-body">
                <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:80%">
                <h2 class="py-3">{{pageTitle}}</h2>
                <p>{{pageDescription}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-8 py-5 border" [style.display]="pageTitle==='Login'?'block':'none'">
            <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input autocomplete="on" type="email" formControlName="email" class="form-control" placeholder="Email"
                   >
                </div>
                <div class="form-group col-md-12">
                  <input autocomplete="on" type="password" formControlName="password" class="form-control" placeholder="Password"
                   >
                </div>
              </div>
              <div class="form-row form-group">
                <button class="btn btn-primary col-md-12">Login</button>
              </div>
            </form>
            <div class="row">
              <button class="btn btn-link col-md-12" (click)="showSignupForm()">New to Meankart? Create an
                account</button>
            </div>
          </div>
          <div id="signup" class="col-md-8 py-5 border" [style.display]="pageTitle==='Sign Up'?'block':'none'">
            <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input autocomplete="on" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{ 'is-invalid': (submitted || !rf.name.untouched) && rf.name.errors }">
                  <div *ngIf="rf.name.errors" class="invalid-feedback">
                    <div *ngIf="rf.name.errors.required">Name is required</div>
                    <div *ngIf="(rf.name.errors.hasNoNumber || rf.name.errors.hasNoSpecialCharacters)">Name must not have number or special characters</div>
                </div>
                </div>
                <div class="form-group col-md-12">
                  <input autocomplete="on" type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': (submitted || !rf.email.untouched) && rf.email.errors }">
                  <div *ngIf="rf.email.errors" class="invalid-feedback">
                    <div *ngIf="rf.email.errors.required">Email is required</div>
                    <div *ngIf="rf.email.errors.validEmail">Email must be a valid email address</div>
                </div>
                </div>
                <div class="form-group col-md-6">
                  <input autocomplete="on" type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': (submitted || !rf.password.untouched) && rf.password.errors }" >
                  <div *ngIf="rf.password.errors" class="invalid-feedback">
                    <div *ngIf="rf.password.errors.required">Password is required</div>
                    <div *ngIf=!rf.password.errors.required>
                        <div>Password must have</div>
                        <div *ngIf="rf.password.errors.minlength">atleast 6 characters</div>
                        <div *ngIf="rf.password.errors.hasNumber">atleast one number</div>
                        <div *ngIf="rf.password.errors.hasUpperCase">atleast one uppercase character</div>
                        <div *ngIf="rf.password.errors.hasLowerCase">atleast one lowercase character</div>
                        <div *ngIf="rf.password.errors.hasSpecialCharacters">atleast one special character</div>
                    </div>
                </div>
                </div>
                <div class="form-group col-md-6">
                  <input autocomplete="on" type="password" formControlName="confirmPassword" class="form-control"
                    placeholder="Confirm Password" [ngClass]="{ 'is-invalid': (submitted || !rf.confirmPassword.untouched) && rf.confirmPassword.errors }">
                    <div *ngIf="rf.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="rf.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="rf.confirmPassword.errors.NoPassswordMatch">Passwords do not match</div>
                    </div>
                </div>
              </div>
              <div *ngIf="serverErrorMessages" class="text-danger">
                {{serverErrorMessages}}
              </div>
              <div class="form-row form-group">
                <button class="btn btn-primary col-md-12">Sign Up</button>
              </div>
            </form>
            <div class="row">
              <button class="btn btn-link col-md-12" (click)="showLoginForm()">Existing User? Log in</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
