<div class="container">
  <form [formGroup]="nameUpdateForm" (ngSubmit)="nameFormSubmit(nameUpdateForm)">
    <span class="title">Personal Information</span>
    <span class="edit-link text-primary" (click)="toggleNameFormStatus(nameUpdateForm)">{{nameUpdateForm.enabled? 'Cancel' : 'Edit'}}</span>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Name" formControlName="name" 
        [ngClass]="{ 'is-invalid': (!nuf.name.untouched) && nuf.name.errors }">
        <div *ngIf="nuf.name.errors" class="invalid-feedback">
            <div *ngIf="nuf.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary" *ngIf="nameUpdateForm.enabled">Save</button>
      </div>
    </div>
  </form>

  <form [formGroup]="emailUpdateForm" (ngSubmit)="emailFormSubmit(emailUpdateForm)">
      <span class="title">Email Address</span>
      <span class="edit-link text-primary" (click)="toggleEmailFormStatus(emailUpdateForm)">{{emailUpdateForm.enabled? 'Cancel' : 'Edit'}}</span>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="email" class="form-control" placeholder="Email" formControlName="email" 
          [ngClass]="{ 'is-invalid': (!euf.email.untouched) && euf.email.errors }">
          <div *ngIf="euf.email.errors" class="invalid-feedback">
              <div *ngIf="euf.email.errors.required">Email is required</div>
              <div *ngIf="euf.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <button type="submit" class="btn btn-primary" *ngIf="emailUpdateForm.enabled">Save</button>
        </div>
      </div>
    </form>

    <div class="text-danger" *ngIf="serverErrorMessages!==''">{{this.serverErrorMessages}}</div>
    <div class="text-success" *ngIf="serverSuccessMessage!==''">{{this.serverSuccessMessage}}</div>
</div>