.title {
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding-bottom: 20px;
}

.address-container {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    /* margin-bottom: 30px; */
}

.add-address {
    font-size: 14px;
    color: #007bff;
    font-weight: 500;
    padding: 16px 0;
    cursor: pointer;
}

.plus {
    font-size: 18px;
    margin: 0 16px;
}

.saved-addresses {
    margin-top: 30px;
}

.address-line {
    margin: 16px;
}

.address-container:first-child {
    font-size: 16px;
}

.address-container:last-child {
    font-size: 14px;
}

.address-container span {
    font-weight: 500;
    margin-right: 14px;
}

.col-md-1 {
    padding-top: 32px;
}

.dropbtn {
    color: lightgray;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  